.card{
    background: #1d1d1d;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.speakers{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.avatars img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    border: 2px solid #20bd5f;
    position: absolute;
    top: 0;
    left: 0;
    background: #1d1d1d;
}

.avatars img:last-child{
     top: 20px; 
     left: 20px; 
}

.names{
    margin-left: 100px;
}


.names span{
    padding-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
}

.peopleCount{
    text-align: right;

}

.peopleCount span{
    font-weight: bold;
    margin-right: 5px;
}

.singleSpeaker .avatar img{
    position: initial;
}

.singleSpeaker .names{
    margin-top: 10px;
}